Package: retrostar-client
Version: 1.0
Architecture: all
Maintainer: Hans Hübner <hans.huebner@gmail.com>
Depends: openvpn, ebtables, tcpdump, lsof
Description: This is the client package needed to connect to the RetroStar network
Postinst: DEBIAN/postinst

