[Unit]
Description=Retrostar Service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/connect-retrostar

[Install]
WantedBy=multi-user.target

