<link rel="stylesheet" href="xterm.css">
<link rel="stylesheet" href="lat.css">
<script src="xterm.js"></script>
<div class="choose-host">
  <p>
    Diese Systeme sind per LAT zu erreichen.  Durch Klick auf den Namen kannst
    Du eine Terminalverbindung herstellen.
  </p>
  <% if (services.length === 0) { %>
  <p>Zur Zeit ist kein System per LAT zu erreichen.</p>
  <% } else { %>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Beschreibung</th>
    </tr>
    </thead>
    <tbody>
    <% for (let i = 0; i < services.length; i++) { const service = services[i] %>
    <tr>
      <td><a onclick="connect('<%= service.name %>')"><%= service.name %></a></td>
      <td><%= service.description %></td>
    </tr>
    <% } %>
    </tbody>
  </table>
  <% } %>
</div>
<div class="terminal-controls">
  <p>
    <button id="break">Break</button>
    Break (oder die Pause-Taste) führt zum Prompt <code>Local&gt;</code> des
    Terminalservers.  Dort zeigt <code>SHOW SERVICES</code> die erreichbaren
    Systeme, <code>CONNECT</code> verbindet zu einem weiteren,
    <code>RESUME</code> kehrt zur Sitzung zurück und <code>LOGOUT</code>
    beendet die Verbindung.  <code>HELP</code> erklärt alle Befehle.
  </p>
</div>
<div id="terminal"></div>
<script src="lat.js"></script>
